body {
	margin: 0;
	padding: 0;
	background: #585857;
}

.main-container {
	position: relative;
	border: 2px solid black;
	width: 1000px;
	margin: 7px auto;
	padding: 0;
	background: white;
}

.header-container {
	display: list-item;
	overflow: hidden;
	border-bottom: 2px solid black;
	padding: 0 20px;
	margin-bottom: 20px;
}

.page-title {
	display: inline-block;
	font-size: 27px;
	font-weight: bold;
	color: #1511C7;
}

.admin-fields {
	display: block;
}

.hello-admin {
	display: inline-block;
	margin-right: 44px;
	font-weight: bold;
}

.submit-form {
	display: inline-block;
}

.localization {
    float: right;
    position: absolute;
    right: 21px;
}


span.localizationLogin {
	position: absolute;
    top: 64px;
    right: 22px;
}
.hello-block {
	overflow: hidden;
	float: right;
	display: inline-block;
}

.logout-button {
	border-bottom: 1px solid grey;
	border-top: 1px solid white;
	height: 19px;
	width: 70px;
}

.content-container {
	display: inline;
	margin: 5px 0;
	margin-bottom: 5px;
}

.menu-container {
	background: grey;
	border: 1px solid #e2e2e2;
	display: inline-block;
	vertical-align: top;
}

.menu {
	margin: 0px 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid black;
}

.menu-container a {
	display: block;
	width: 146px;
	color: slategray;
	text-align: left;
	padding: 15px 10px;
	margin: -14px -13px;
}

.content {
	margin-bottom: 1px;
	width: 655px;
	height: 737;
	padding: 0 70;
	padding-top: 33px;
	display: inline-block;
	border: 1px solid #e2e2e2;
}

.show-authors-content {
	width: 745px;
	min-height: 720px;
	margin-bottom: 5px;
	padding-left: 50;
	padding-right: 0;
	padding-top: 50px;
	display: inline-block;
	border: 1px solid #e2e2e2;
}

table {
	border-spacing: 0px 40;
}

textarea#brief {
	resize: vertical;
}

.footer-container {
	border-top: 2px solid black;
	text-align: center;
}

.authorNamePole {
	margin-left: 30px;
}

.edit-link {
	margin-left: 10px;
	display: inline-block;
}

.update-link {
	margin-left: 10px;
}

u.save-link {
	margin-left: 10;
}

p.add-tag-label {
	display: inline-block;
	padding-right: 7;
}

.single-author-info {
	display: -webkit-inline-box;
}

.edit-author {
	display: inline-block;
}

.expire-author {
	display: inline-block;
}

.edit-author-bar {
	display: inline-block;
	margin-left: 50px;
	margin-right: 8px;
}

.add-author-form {
	margin-bottom: 150;
}

.add-news-content {
	width: 745px;
	min-height: 715px;
	margin-bottom: 5px;
	padding-left: 50;
	padding-right: 0;
	padding-top: 50px;
	display: inline-block;
	border: 1px solid #e2e2e2;
}

.author-tag {
}

input#filter-button {
	margin-left: 20px;
}

.add-author-label {
	display: inline-block;
	padding-right: 7px;
}

.save-author-link {
	margin-left: 50px;
}

.show-news-content {
	position: relative;
	width: 795px;
	height: 751px;
	margin-bottom: 5px;
	padding-top: 20;
	padding-bottom: 0;
	display: inline-block;
	border: 1px solid #e2e2e2;
}

.search-criteria {
	margin-left: 0px;
	margin-bottom: 25px;
}

select#authorSelect {
	width: 225px;
	padding: 2px 0px;
	border-color: #A5A5A5;
}

form#reset-reset-searchCriteria {
	display: inline;
}

form#filter-news {
	display: inline;
}

div#unchosen-hidden {
	text-align: center;
}

a#no-news-label {
	margin: 0 250;
	font-size: larger;
}

input#current-page {
    background-color: #E3E4E4;
    border-color: #656565;
}

.news-title-link {
	color: blue;
	font-weight: bold;
	font-size: 18;
	text-decoration: underline;
	display: inline-block;
	width: 416;
}

.creation-date-label {
	display: inline-block;
	vertical-align: top;
	float: right;
	margin-right: 5px;
	text-decoration: underline;
}

.by-author-label {
	display: inline-block;
	vertical-align: top;
	margin-left: 75px;
}

.short-text {
	max-width: 696px;
	margin-top: 20px;
}

.data-about-news {
	display: inline-flex;
	float: right;
}

.news-tags {
	color: #828282;
	margin-right: 30px;
}

.news-comments {
	color: red;
	margin-right: 30px;
}

.edit-news-checkbox {
	color: blue;
	text-decoration: underline;
}

.delete-news-button {
	float: right;
	margin-right: 50;
	border-bottom: 1px solid grey;
	border-top: 1px solid white;
	height: 40px;
	width: 120px;
}

.paginal-nav-bar {
	position: absolute;
	bottom: 0;
	width: inherit;
	padding: 18px 0;
	text-align: center;
	background-color: #ECEEFB
}

.unchosen {
	display: inline-block;
	color: red;
	min-width: 178px;
}

.news {
	overflow: hidden;
	margin: 30 50;
}

#edit-news {
	display: inline-block;
	s
}

input#save-button {
    float: right;
    border-bottom: 1px solid grey;
    border-top: 1px solid white;
    height: 40px;
    width: 120px;
    margin-bottom: 200;
    margin-right: 145px;
    
}

.show-single-news-content {
	position: relative;
	width: 795px;
	min-height: 751px;
	margin-bottom: 5px;
	padding-top: 20;
	padding-bottom: 0;
	display: inline-block;
	border: 1px solid #e2e2e2;
}

div#show-single-news-content {
	min-height: 630;
}

.head-information-news {
	max-width: 745px;
	margin-left: 50;
}

.news-title {
	max-width: 590px;
	font-weight: bold;
}

.change-news {
	position: relative;
	bottom: 0;
	width: inherit;
	padding: 7px 0;
}

#next-link {
	float: right;
	margin-right: 25px;
	margin-left: 7px;
}

#prev-link {
	margin-left: 25px;
}

.author-date {
	margin-top: 5px;
}

a#date {
	float: right;
	margin-right: 50;
	text-decoration: underline;
}

a#comment-date {
	text-decoration: underline;
}

.full-text {
	max-width: 745px;
	padding-right: 25;
	margin-left: 50px;
	margin-top: 10px;
}

.single-comment-admin {
	max-width: 450;
}

.comment-content {
	margin-top: 20px;
	padding-left: 100px;
}

.comment-text {
	background-color: #DEDEDE;
}

form#delete-comment {
	display: inline-block;
	float: right;
}

.comment-text-value {
	padding: 5px;
    word-wrap: break-word;
}

select#authors {
	width: 225px;
	padding: 2px 0px;
	border-color: #A5A5A5;
}

.add-comment {
	margin-left: 100px;
	width: 450px;
	margin-top: 20;
	margin-bottom: 80;
}

textarea#new-comment {
	min-height: 80;
	width: 450;
	resize: vertical;
}

input#post-comment {
	border-bottom: 1px solid grey;
	border-top: 1px solid white;
	height: 40;
	width: 120;
	margin-top: 10px;
	float: right;
}

a#news-title-link {
	color: #0A05FF;
}

.dropdown {
	display: inline-block;
	text-align: left;
	vertical-align: bottom;
	margin: 0 5px;
}

a {
	color: rgb(87, 86, 85);
}

.dropdown dd, .dropdown dt {
	margin: 0px;
	padding: 0px;
}

.dropdown ul {
	margin: -1px 0 0 0;
}

.dropdown dd {
	position: relative;
}

.dropdown a, .dropdown a:visited {
	font-size: 15px;
}

.dropdown dt a {
	background-color: #ffffff;
	display: block;
	padding: 7px 20px 6px 10px;
	line-height: 5px;
	overflow: hidden;
	border: 1px solid rgb(175, 175, 175);
	width: 180;
}

.dropdown dt a span, .multiSel span {
	cursor: pointer;
	display: inline-block;
	padding: 0;
}

.dropdown dd ul {
	background-color: #ffffff;
	display: none;
	padding: 0;
	position: absolute;
	width: 210px;
	list-style: none;
	height: 100px;
	overflow-y: scroll;
	margin-top: 1;
	border: 1px solid blue;
}

.dropdawn li {
	padding: 10px;
}

.checkbox li {
	padding: 3px 0;
	margin: 0;
}

.checkbox li:hover {
	background-color: blue;
	color: white;
}

.dropdown span.value {
	display: none;
}

.dropdown dd ul li a {
	padding: 5px;
	display: block;
}

.dropdown dd ul li a:hover {
	background-color: #fff;
}

.select-span-style {
	background-color: rgba(255, 251, 247, 0.1);
	margin: 4px 0;
	border: 1px solid white;
	border-radius: 5%;
}

input[type=checkbox] {
	display: none;
}

.checkbox-label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 15px;
	margin-left: 5px;
	font-size: 14px;
	font-family: helvetica, serif;
}

.checkbox-label:before {
	content: "";
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-right: 10px;
	position: absolute;
	left: 0;
	bottom: 1px;
	border-radius: 1px;
	background-color: rgb(232, 232, 232);
}

input[type=checkbox]:checked+.checkbox-label:before {
	content: "\2713";
	font-size: 15px;
	color: rgb(255, 255, 255);
	text-align: center;
	line-height: 15px;
	background-color: rgb(111, 109, 107);
}

.login-container {
    width: 960;
    height: 731px;
    margin: 0 auto;
    margin-bottom: 20;
    padding-top: 20;
    padding-bottom: 0;
    border: 1px solid #e2e2e2;
}

form#loginForm {
    text-align: center;
    width: 280;
    margin: 0 auto;
    margin-top: 200px;
}

.login-button {
    border-top: 1px solid white;
    height: 40px;
    width: 120px;
    margin: 0 auto;
}

.msg {
    text-align: center;
    font-size: x-large;
    color: #888686;
}

.error {
    text-align: center;
    font-size: x-large;
    color: #888686;
}

.error-content {
    padding-top: 100px;
    text-align: center;
    font-size: x-large;
    color: #D42121;
    min-height: 751px;
    width: 980px;
    margin: 0 10px 5px;
    border: 1px solid #C3C0C0;
    font-family: fantasy;
}

div#hidden-messages {
    margin: 0 auto;
    width: 180px;
    text-align: center;
    color: #FD1919;
}

.adding-comment-hidden {
    color: #E21700;
    width: 220px;
    margin-left: 100px;
    margin-top: 15px;
}

.hidden-message {
    color: #EA1010;
}

div#hidden-author-message {
    color: #F52626;
    padding-left: 130px;
}

div#hidden-tag-message {
    color: #F52626;
    padding-left: 130px;
}

.edit-author-hidden-message {
    color: #DC3737;
    width: 350px;
    margin-left: 110px;
}

.edit-tag-hidden-message {
    color: #DC3737;
    width: 350px;
    margin-left: 110px;
}