body{
    margin: 0;
    padding: 0;
    background: #585857;
}

.main-container {
    position: relative;
    border: 2px solid black;
    width: 1000px;
    margin: 7 auto;
    padding: 0;
    background: white;
}


.header-container {
    position: relative;
    display: list-item;
    overflow: hidden;
    border-bottom: 2px solid black;
    padding: 10px 20px;
}

.footer-container {
    border-top: 2px solid black;
    text-align: center;
    padding: 3px 0;
}

.page-title {
    display: inline;
    font-size: 40px;
    font-weight: bold;
    color: #1511C7;
}

.localization {
    position: absolute;
    overflow: hidden;
    display: inline-block;
    bottom: 0;
    right: 20px;
    margin-bottom: 10px;
}

.show-news-content {
    position: relative;
    width: 987px;
    height: 777px;
    margin: 5px 5px;
    padding-top: 20;
    padding-bottom: 0;
    display: inline-block;
    border: 1px solid #e2e2e2;
}

.search-criteria {
	display: flex;
}

.unchosen {
    width: 250;
}

div#unchosen-hidden {
    margin-left: 100;
}

form#filter-news {
    margin-left: 10px;
}

select#authorSelect {
    width: 220;
        padding: 2px;
}

select.multi-select {
    width: 220;
}

input#filter-button {
    margin-left: 3px;
}
form#reset-reset-searchCriteria {
    margin-left: 5;
        padding-top: 1px;
}

.news {
    padding: 15px 50px;
        margin-bottom: 30px;
}

.news-title-link {
    color: black;
    font-weight: bold;
    font-size: 18;
    display: inline-block;
    max-width: 720;
}

.creation-date-label{
    display: inline-block;
    vertical-align: top;
    float: right;
    margin-right: 5px;
    text-decoration: underline;
}

.by-author-label {
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
}


.short-text{
        max-width: 696px;
    margin-top: 20px;
}

.data-about-news{
    display: inline-flex;
    float: right;
}
.news-tags{
        color: #828282;
    margin-right: 30px;
}
.news-comments{
    color: red;
        margin-right: 30px;
}

.paginal-nav-bar {
    border: 10px solid white;
    position: absolute;
    bottom: 0;
    width: 98%;
    padding: 24px 0;
    text-align: center;
    background-color: #ECEEFB;
}

form#paginal-nav-bar {
    margin-bottom: 0;
}

input#current-page {
    background-color: #E3E4E4;
    border-color: #656565;
}


.show-single-news{
    position: relative;
    width: 987px;
    min-height: 787px;
    margin: 5px 5px;
    padding-top: 10;
    padding-bottom: 0;
    display: inline-block;
    border: 1px solid #e2e2e2;
}

a#back_button {
    margin-left: 10px;
}

.head-information-news {
    margin-left: 60;
    display: -webkit-box;
}

.news-title {
    width: 	500px;
}

a#author {
    margin-left: 50;
}

a#date {
    margin-left: 70;
    text-decoration: underline;
}

.full-text {
    margin-top: 20;
    margin-left: 60;
    margin-right: 100;
}



.single-comment-admin {
    
    max-width: 450;
}
.comment-content {
    margin-top: 20px;
    padding-left: 100px;
}

.comment-text {
    background-color: #DEDEDE;
}

form#delete-comment {
    display: inline-block;
    float: right;
}

.comment-text-value {
    padding: 5px;
}


.add-comment {
    margin-left: 100px;
    width: 450px;
    margin-top: 20;
    margin-bottom: 80;
}

textarea#new-comment {
    min-height: 80;
    width: 450;
    resize: vertical;
}

input#post-comment {
    border-bottom: 1px solid grey;
    border-top: 1px solid white;
    height: 40;
    width: 120;
    margin-top: 10px;
    margin-bottom: 50px;
    float: right;
}

.change-news{
    width: inherit;
    padding: 7px 0;
    position: absolute;
    bottom: 0;
    margin-top: 10;
}

#next-link{
    float: right;
    margin-right: 25px;
    margin-left: 7px;
}

#prev-link{
     margin-left: 25px;
}

.not-found{
	color: #3E3932;
    text-align: center;
    font-family: fantasy;
    font-size: -webkit-xxx-large;
}

.adding-comment-hidden {
    color: #E21700;
    width: 220px;
    margin-left: 100px;
    margin-top: 15px;
}